[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.25"
scikit-image = "*"

[dev-packages]
isort = "*"
black = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.11"

[scripts]
encode = "python src/main.py -encode "
decode = "python src/main.py -decode "
